

    .buscador{
        form{
            @media screen and (min-width: 1024px){
                height: 76px;
            }
            
            background: #E6E6E6;
            box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
            display: flex;
            
            div{
                display: flex;
                margin: auto;
                height: 48px;
                width: 97%;
                input{
                    @media screen and (min-width:1024px){
                        width: 100%;
                    }
                    
                    background: #FFFFFF;
                    border: 1px solid #979797;
                    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
                    padding: 16px;
                    font-family: ChakraPetch-Regular;
                    font-size: 16px;
                    color: #B4B4B4;
                    letter-spacing: 0;
                    line-height: 22px;
                }
                input::placeholder{
                    padding: 16px;
                    font-family: ChakraPetch-Regular;
                    font-size: 16px;
                    color: #B4B4B4;
                    letter-spacing: 0;
                    line-height: 22px;
                }
                button{
                    background: #E6E6E6;
                    border: 1px solid #808080;
                    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
                    font-family: ChakraPetch-Regular;
                    font-size: 16px;
                    color: #B4B4B4;
                    letter-spacing: 0;
                    line-height: 18px;
                    width: 102px;
                    height: 36px;
                    margin: auto 5px;
                    padding: 0;
                }
            }
        }
    }

@media screen and (max-width:1023px){
form{
    height: 200px;
    div{
        flex-direction: column;
        input{
            align-self: center;
            width:80%;
        }
        button{
            align-self: center;
        }
    }
}
}