
    .buscador{
        &Lista{
            display: none;
            list-style: none;
            background: #E6E6E6;
            margin: 0;
            box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
            padding: 0;
            padding: 16px 0px;
            height: 210px;
            overflow: overlay;
            li{
                background: #CCCCCC;
                border: 1px solid #808080;
                box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
                list-style-type: none;                                
                margin-left: 16px;
                margin-right: 16px;    
                margin-bottom: 10px;            
                p{
                    margin: 0;
                    font-family: ChakraPetch-Regular;
                    font-size: 16px;
                    color: #110038;
                    letter-spacing: 0;
                    line-height: 22px;
                    padding: 6px 0px;
                    padding-left: 15px;
                    cursor: pointer;
                }
            }
        }
        form{
            @media screen and (min-width: 1024px){
                height: 76px;
            }
            
            background: #E6E6E6;
            box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
            display: flex;
            
            div{
                display: flex;
                margin: auto;
                @media screen and (min-width:1024px){
                    height: 48px;
                }
                
                width: 97%;
                input{
                    @media screen and (min-width:1024px){
                        width: 100%;
                    }
                    
                    background: #FFFFFF;
                    border: 1px solid #979797;
                    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
                    padding: 16px;
                    font-family: ChakraPetch-Regular;
                    @media screen and (min-width:1024px){
                        font-size: 16px;
                    }
                    color: #B4B4B4;
                    letter-spacing: 0;
                    line-height: 22px;
                }
                input::placeholder{
                    padding: 16px;
                    font-family: ChakraPetch-Regular;
                    @media screen and (min-width:1024px){
                        font-size: 16px;
                    }
                    
                    color: #B4B4B4;
                    letter-spacing: 0;
                    line-height: 22px;
                }
                button{
                    background: #E6E6E6;
                    border: 1px solid #808080;
                    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
                    font-family: ChakraPetch-Regular;
                    font-size: 16px;
                    color: #B4B4B4;
                    letter-spacing: 0;
                    line-height: 18px;
                    @media screen and (min-width:1024px){
                        width: 102px;
                        margin: auto 5px;
                    }
                    
                    height: 36px;
                    
                    padding: 0;
                }
            }
        }
    }

@media screen and (max-width:1023px){
form{
    height: 150px;
    div{
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        input{
            align-self: center;
            width:80%;
            font-size: 11px;
        }
        input::placeholder{
            font-size: 11px;
        }
        button{
            align-self: center;
            width: 91%;
            margin: 0;
        }
    }
}
}

