.titulo{
    font-family: 'Chakra Petch', sans-serif;
    display: flex;
    justify-content: space-between;
    margin: 50px 0px;
    .botones{
        height: 36px;
        display: flex;
        a{
            font-family: 'Chakra Petch', sans-serif;
            margin: 0;
            padding: 0;
            border: 0;
            background: #F7C9F3;
            border: 1px solid #110038;
            box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
            width: 144px;
            height: 36px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            p{
                margin: 0;
            }
        }
        .drop-container{
            display: flex;
            flex-direction: column;
            margin: 0px 10px;
            .drop-container-down{
                
                display: flex;
                height: 100%;
                @media screen and (max-width:1024px){
                    justify-content: center;
                }
                button{
                
                    margin: 0;
                    
    
                }
                div{
                    @media screen and (max-width:1023px){
                        display: none;
                    }

                    @media screen and (min-width:1024px){
                        display: flex;
                    }

                    background: #F7C9F3;
                    border: 1px solid #110038;
                    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
                    display: flex;
                    height: 100%;                    
                    width: 36px;
                    border: 1px solid black;
                    i{
                        margin: auto;
                        align-self: center;
                    }
                }
            }
            .drop-container-menu{
                display: none;
                background: #B4B4B4;
                box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
                position: relative;
                z-index: 1;
                .theme{
                    padding: 0;
                    width: 100%;
                    margin: 0;
                    .theme_list{
                        list-style-type: none;
                        margin: 10px;
                        padding: 10px 15px;
                        
                        background: #CCCCCC;
                        border: 1px solid #808080;
                        box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
                    }
                    
                }
            }
            
        }
        
        button:nth-child(3){
            background: none;
            border: 0;
            box-shadow: none;
            width: 100px;
            font-family: ChakraPetch-Regular;
            font-size: 16px;
            color: #110038;
            letter-spacing: 0;
            line-height: 18px;
            text-decoration: underline;
        }
        
    }
}

@media screen and (max-width:1023px){
.titulo{
    flex-direction: column;
    img{
        width:100px;
        align-self: center;
    }
    .botones{
        a{
            @media screen and (max-width:1024px){
                margin: 10px 0px;
            }
        }
        flex-direction: column;
        height: 100%;
        align-items: center;
        button{
            width:100%;
            margin: 10px;
        }
        .drop-container{
            width: 100%;
        }
    }
}
}