body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFF4FD;
}

main{
    margin: 0px 100px;
}

@media screen and (max-width:1024px){
    main{
        margin: 0px 50px;
    }
}

@import url('https://fonts.googleapis.com/css?family=Chakra+Petch&display=swap');
@import "header";
@import "titulo"; 
@import "buscador";
@import "sugerencias";
@import "tendencias";
@import "captura";